@model ERP.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            Poste
        </dt>
        <dd class = "col-sm-10">
            @Model.Poste.Title (@Model.Poste.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmbauche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmbauche)
        </dd>
    </dl>

    <h4 class="mt-4">Compensation Packages</h4>
    <hr />
    @if (Model.CompensationPackages != null && Model.CompensationPackages.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Base Salary</th>
                    <th>Effective From</th>
                    <th>Effective To</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var package in Model.CompensationPackages.OrderByDescending(p => p.EffectiveFrom))
                {
                    <tr>
                        <td>@package.BaseSalary.ToString("C")</td>
                        <td>@package.EffectiveFrom.ToShortDateString()</td>
                        <td>@(package.EffectiveTo?.ToShortDateString() ?? "Ongoing")</td>
                        <td>
                            @if (package.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Inactive</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">No compensation packages found.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>